@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primaryColor: rgb(9, 98, 94);
  --secondaryColor: rgb(238, 238, 238);
  --textColor: rgb(55, 82, 80);
  --blackColor: rgb(38, 39, 39);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.icon {
  font-size: 25px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.section {
  padding: 5rem 0 2rem;
  color: var(--primaryColor);
}

.container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  gap: 1rem;
  display: grid;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  height: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: rgb(251, 251, 251);

  .logo {
    font-size: 25px;
    color: var(--textColor);
    cursor: pointer;
  }
}

.searchInput {
  position: absolute;
  background: var(--textColor);
  padding: 1rem 2rem;
  border-radius: 3rem;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: space-between;
  transition: display 0.4s;

  input {
    background: none;
    border: none;
    color: whitesmoke;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.534);
    }
  }

  .icon {
    color: whitesmoke;
  }
}
@media screen and (max-width: 768px) {
  .navBar {
    position: absolute;
    top: -150px;
    background: var(--primaryColor);
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    z-index: 100;
    transition: top 0.4s;
  }
}
.show {
  top: 200px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .navItems {
    margin: 0.5rem 0;

    a {
      color: whitesmoke;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: whitesmoke;
        height: 2px;
        width: 0px;
        left: 0;
        bottom: -3px;
        transition: width 0.2s;
      }
      &:hover::after {
        width: 20px;
      }
    }
  }
}

.main {
  padding-top: 4rem;
  background: rgba(245, 245, 245, 0.774);
  .mainText {
    padding: 1rem 1rem 3rem;
    color: var(--primaryColor);
    backdrop-filter: blur(2px);
    top: 10px;
    padding-top: 30px;

    h1 {
      line-height: 40px;
      padding-bottom: 1rem;
    }
    p {
      padding-bottom: 1rem;
    }

    .mainBtn {
      display: inline-block;
      button {
        color: whitesmoke;
        background: var(--primaryColor);
        padding: 0.6rem 1rem;
        display: flex;
        align-items: center;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        &:focus {
          outline: none;
        }
        &:hover {
          background: var(--textColor);
        }

        .icon {
          margin-left: 10px;
        }
      }
    }
  }

  .bannerDiv {
    position: relative;

    img {
      display: flex;
      max-width: 350px;
      margin: auto;
      align-self: center;
    }
    .mainIcons {
      display: none;
      gap: 1rem;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-15px);
      transition: 0.4s ease-in-out;
      .socialIcon {
        font-size: 25px;
        color: var(--primaryColor);
        cursor: pointer;
        &:hover {
          transform: translateX(10px);
        }
      }
    }
    .bottomIcon {
      position: absolute;
      height: 50px;
      width: 50px;
      background: var(--primaryColor);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      bottom: 0;
      right: 0;
      a .icon {
        color: whitesmoke;
      }
    }
  }
}

.sponsors {
  text-align: center;
}

.deals {
  .introText {
    padding-bottom: 15px;
  }
  .fireImage {
    width: 25px;
    height: auto;
  }

  .introText {
    h1 {
      line-height: 30px;
      padding-bottom: 10px;
    }
    p {
      color: var(--blackColor);
    }
  }

  .dealContent {
    .dealIcon {
      font-size: 25px;
      // color: var(--blackColor);
      padding-bottom: 10px;
    }
    h6 {
      font-size: 20px;
      padding-bottom: 10px 0;
    }
    p {
      color: var(--blackColor);
    }
  }
}

.about {
  .sectionIntro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    // align-items: center;
    justify-content: space-between;

    p {
      color: var(--blackColor);
      max-width: 400px;
      padding-bottom: 1rem;
    }

    .moreBtn {
      button {
        background: var(--primaryColor);
        color: whitesmoke;
        padding: 0.6rem 2rem;
        border: none;
        border-radius: 3px;

        &:hover {
          background: var(--secondaryColor);
          color: var(--primaryColor);
        }
      }
    }
  }

  .aboutBody {
    padding-top: 10px;
    display: grid;
    gap: 2rem;

    .aboutContent {
      display: grid;
      gap: 1rem;

      .infor {
        height: max-content;
        padding: 1rem 0;
        h5 {
          font-size: 15px;
        }
        p {
          color: var(--blackColor);
        }
      }
    }

    .aboutImageDiv {
      display: grid;
      gap: 5px;
      margin: 10px;
    }
  }
}

.products {
  .sectionIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .moreBtn {
      button {
        background: none;
        border: none;
        align-items: center;
        display: flex;
        &:hover .icon {
          color: var(--primaryColor);
          transition: 0.3s;
          transform: translateX(5px);
        }
      }
    }
  }

  .menu {
    width: 100%;
    margin: 30px auto 60px;
    display: grid;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .active {
        color: var(--primaryColor);
        font-weight: bold;
      }

      li {
        margin: 0 10px;
        color: var(--blackColor);
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }

  .productItems {
    width: 100%;
    margin: auto;

    .row1 {
      .row1_item {
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        position: relative;
        border-radius: 0.7rem;
        transition: 0.3s ease;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 2px 8px rgba(139, 138, 138, 0.753);
        }

        &::after {
          content: "";
          position: absolute;
          background: var(--secondaryColor);
          height: 60%;
          width: 100%;
          z-index: -1;
          top: 0;
          border-radius: 0.7rem 0.7rem 0 0;
        }

        .cartIconDiv {
          position: absolute;
          background: var(--textColor);
          height: 30px;
          width: 30px;
          border-radius: 50%;
          top: -10px;
          right: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: whitesmoke;
        }
      }
    }

    .itemImage img {
      width: 220px;
      margin-top: 20px;
    }

    .itemDiv {
      color: var(--blackColor);
      .title {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 5px;
      }
      .price span {
        text-decoration: line-through;
        opacity: 0.3;
        margin-left: 30px;
      }
    }
  }
}

.client {
  // background: var(--secondaryColor);
  .intro {
    text-align: center;
    margin-bottom: 30px;
    p {
      color: var(--blackColor);
      padding: 1rem 0;
      width: 90%;
      text-align: center;
      margin: auto;
    }
  }

  .clientBody {
    .clientImage {
      height: 300px;
      width: 100%;
      min-width: 250px;
      border-radius: 20px 0 20px 0;
      overflow: hidden;
      border: 10px solid rgba(9, 98, 93, 0.205);
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    .review {
      margin: 1rem 0;
      p {
        font-style: italic;
      }

      .customerDetails {
        margin-top: 1rem;
        h2 {
          font-size: 17px;
          color: var(--textColor);
        }
        small {
          color: var(--textColor);
        }
      }
    }
  }
}

.footer {
  padding: 4rem 2rem;
  background: var(--primaryColor);
  position: relative;

  .bottomIcon {
    position: absolute;
    height: 50px;
    width: 50px;
    background: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 7.5rem;
    right: 1rem;
    z-index: 100;
    a .icon {
      color: var(--primaryColor);
    }
  }
  .footerTop {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    h4 {
      color: whitesmoke;
    }

    .buttonsDiv {
      display: flex;
      button {
        padding: 10px;
        border-radius: 10px;
        border: none;

        &:focus {
          outline: none;
        }
      }
      .whiteBtn {
        background: rgb(17, 143, 137);
        color: whitesmoke;
        margin-left: 10px;
      }
    }
  }

  .footerContent {
    margin-top: 10px;
    color: var(--secondaryColor);

    .col-1 {
      p {
        font-size: 15px;
        margin-bottom: 10px;
      }

      .socials {
        margin-top: 20px;
        .socialIcon {
          font-size: 30px;
          margin: 0 4px;
          transition: 0.3s;
          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
    .col {
      h4 {
        margin-bottom: 10px;
        font-size: 15px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background: rgba(255, 255, 255, 0.534);
          height: 2px;
          width: 100px;
          top: 50%;
          left: 100px;
        }
      }
      ul li {
        font-size: 15px;
        transition: 0.3s;
        &:hover {
          transform: translateX(10px);
        }
      }
    }
  }
  .copyRight {
    margin-top: 30px;
    text-align: center;
    p {
      color: rgba(255, 255, 255, 0.534);
      font-weight: 200;
    }
  }
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .push {
    transform: translateY(30px);
  }
}

@media screen and (min-width: 590px) {
  .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .review {
    p {
      padding: 1rem 0;
    }
  }
}

@media screen and (min-width: 770px) {
  .actionBtn {
    display: none;
  }
  .navList {
    flex-direction: row;

    a {
      color: var(--blackColor) !important;
      margin: 0 1rem;

      &::after {
        background: var(--primaryColor) !important;
      }
      &:hover {
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 810px) {
  .about .sectionIntro {
    align-items: center;
    flex-direction: row;
  }

  .section {
    padding: 6rem 0 4rem;
  }

  .main {
    display: flex;
    align-items: center;
    height: calc(100vh - 3rem);
    justify-content: center;
    padding: 0 2rem;

    .mainText {
      padding: 0 3rem;
      top: 0px;
      // text-align: center;

      padding-top: 0px;

      h1 {
        line-height: 50px;
        font-size: 2.5rem;
        padding-bottom: 1rem;
      }

      p {
        font-size: 20px;
      }
    }

    .bannerDiv img {
      max-width: 400px;
    }
  }
}

@media screen and (min-width: 922px) {
  .swiper-slide {
    grid-template-columns: repeat(1, 1fr);
  }

  .review {
    p {
      padding: 0;
    }
  }
}

@media screen and(min-width: 1024px) {
  .header {
    justify-content: space-around;
    padding: 2rem 14rem !important ;
  }
  .main {
    margin: auto;
    padding: 0 10rem;

    .mainText {
      width: 40%;
      h1 {
        font-size: 50px;
        padding-bottom: 1.5rem;
        line-height: 4rem;
      }

      p {
        padding-bottom: 1.5rem;
      }
    }
    .bannerDiv {
      width: 40%;
    }
  }

  .container {
    width: 70%;
    margin: auto;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .footer {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .footerTop {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footerContent {
    width: 70%;
    margin: auto;
    padding-top: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .container {
    padding-left: 3rem;
    padding-right: 3rem;

    p {
      font-size: 18px;
    }
  }
  .header {
    padding: 2rem 12rem;
  }

  .deals {
    padding-top: 7rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    font-size: +1rem;
  }

  .about .aboutBody {
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .aboutContent {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    h5 {
      font-size: 20px !important;
    }
  }

  .productItems .row1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .intro  {
    h1{
      font-size: 2rem;
    }
    p{
      width: 60%;
    }
  }

}

@media screen and (min-width: 1560px){
  .mainIcons {
    display: grid !important;
  }
}
